:root {
  --pink: rgb(241, 198, 198);
  --white: #ffffff;
  --black: #000000;
  --red: rgb(104, 5, 21);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--pink);
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  background-color: var(--white);
  margin: 10px;
  padding: 20px;
  max-width: 15%;
  text-align: justify;
  border-radius: 2ch;
  box-shadow: 10px 10px 10px;
}

.title {
  border: 2px solid;
  border-radius: 2ch;
  padding: 20px;
  font-weight: bolder;
  text-align: left;
}

img {
  margin: 30px 0px;
  width: 100%;
  border-radius: 2ch;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  margin: 20px;
  background-color: white;
  color: var(--red);
  font-weight: bolder;
  border-radius: 20ch;
}

input[type="text"],
select {
  margin: 0px 10px;
  padding: 10px 30px;
  box-shadow: 2px 2px 2px;
  border-radius: 10ch;
  max-width: 400px;
}
